---
import Container from "../components/Container.svelte";
import "$lib/styles/app.css";
import { Toaster } from "$lib/components/ui/sonner/index.js";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <title>Followspot</title>
  </head>
  <body class="flex h-dvh w-screen items-center justify-center overflow-hidden">
    <Toaster client:load />
    <Container client:load />
  </body>
</html>
